In [1]:
import torch
import pandas as pd
import numpy as np

df1 = pd.read_csv('data/stock_details_5_years.csv', header=0)

def time_fixer(x):
    x = x.split(' ')[0]
    return x

df1['Date'] = df1['Date'].apply(time_fixer)
df1['Date'] = pd.to_datetime(df1['Date'])

df1.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
0,2018-11-29,43.829761,43.863354,42.639594,43.083508,167080000,0.00,0.0,AAPL
1,2018-11-29,104.769074,105.519257,103.534595,104.636131,28123200,0.00,0.0,MSFT
2,2018-11-29,54.176498,55.007500,54.099998,54.729000,31004000,0.00,0.0,GOOGL
3,2018-11-29,83.749496,84.499496,82.616501,83.678497,132264000,0.00,0.0,AMZN
4,2018-11-29,39.692784,40.064904,38.735195,39.037853,54917200,0.04,0.0,NVDA

In [2]:
df1.head()

df1['Difference'] = df1['Open'] - df1['Close']

df_diff_arrays = df1.groupby('Company')['Difference'].apply(np.array).reset_index()

df_diff_arrays['Normalized'] = df_diff_arrays['Difference'].apply(lambda x: x / np.linalg.norm(x))

df_diff_arrays.head()

,Company,Difference,Normalized
0,A,"[-0.3277933886396909, -0.6941591611439009, -1....","[-0.005529169310739379, -0.011708971759599146,..."
1,AAPL,"[0.7462530351512058, 0.41031706833509674, -0.0...","[0.010935155997460077, 0.0060125466019118265, ..."
2,ABBV,"[-0.7125628771194101, -3.174853337607999, 0.52...","[-0.01543955809048262, -0.06879158893727623, 0..."
3,ABEV,"[-0.025338456560350053, -0.00844588268194002, ...","[-0.013505524424249502, -0.004501697827316716,..."
4,ABNB,"[1.2899932861330115, 7.3000030517580115, 5.0, ...","[0.01100236923219863, 0.0622618193714668, 0.04..."